<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /react/template/demo1/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /react/template/demo1/index.html [L]
</IfModule>